<!DOCTYPE html>
<html>
<head>
    <title>EduRate</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<%- include('../partials/topbar') %>

<div class="app-container">

<%- include('../partials/sidebar') %>

<main class="content">
<%- body %>
</main>

</div>

<script src="/js/ui.js"></script>
<script src="/js/charts.js"></script>

</body>
</html>